body {
  margin: 0;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
  margin-bottom: 0%;
}

h1 {
  margin-top: 0;
  font-size: 5.625rem;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #980F5A;
  line-height: 2.5;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 2rem;
  color: #980F5A;
  line-height: 2.5;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  color:#980F5A ;
}

hr {
  border-style: dotted none none none;
  width: 3%;
  border-top-width: 7px;
  color: #980F5A;
}

.top-container {
  background-color: #570530;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.middle-container {
  background-color: #FFD1D1;
  padding-top: 10px;
}

.bottom-container {
  background-color: #FFD1D1;
  position: relative;
padding: 10px 10px 10px 10px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.woman-img {
  padding-top: 10px;
  margin-top: 20px;
  background-color: #FFD1D1;
  border-radius: 100%;
}

.accesorios-img{
  float: left;
  margin-right:  30px;

}
.espejo{
  float:right;
  margin-left: 30px;


}
.bombilla{
  float: left;
  margin-right: 30px;
}

.box{
  float:right;
  margin-left: 30px;
}

.btn{
  background: #803156;
  border-radius: 8px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 15px;
  color:#FFD1D1;
  text-decoration: none;
  padding: 10px 10px 10px 10px;

}
.i {
    outline: 1px solid #803156;
    position: absolute;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-right: 100px;
}
a:hover{
  color: #FFD1D1;
}
